<div>
  <h2>Mentor Application Received</h2>
  <p>Dear {{mentorName}},</p>
  <p>Thank you for applying to be a mentor on Flux! We have received your application and our team will review it shortly.</p>
  <p>You will receive another email once your application has been reviewed.</p>
  <p>Best regards,<br>The Flux Team</p>
</div> 