<div>
  <h2>Mentor Application Status Update</h2>
  <p>Dear {{mentorName}},</p>
  {{#if approved}}
  <p>Congratulations! Your application to become a mentor has been approved.</p>
  <p>You can now access your mentor dashboard and start accepting sessions.</p>
  {{else}}
  <p>Thank you for your interest in becoming a mentor. Unfortunately, we cannot approve your application at this time.</p>
  {{/if}}
</div> 